[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=4.2.16"
djangorestframework = "*"
django-cors-headers = "*"
pillow = "*"
whitenoise = "*"
psycopg = {extras = ["binary"], version = "~=3.1.8"}

[dev-packages]
faker = "*"
python-dotenv = "*"

[requires]
python_version = "3.11"
