asgiref==3.8.1
django==4.2.16
django-browser-reload==1.17.0
django-tailwind==3.8.0
faker==33.0.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
six==1.16.0
sqlparse==0.5.2
typing-extensions==4.12.2
tzdata==2024.2
django-cors-headers==4.6.0
django-verify-email==3.0.3
djangorestframework==3.15.2
pillow==11.0.0
psycopg[binary]==3.1.8
psycopg-binary==3.1.8
whitenoise==6.8.2
